.gallery{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.gallery-image{
    width: 360px;
     height: 200px;
}


.gallery.gallery-item:hover,
.gallery.gallery-item:focus {
    width: 376px;
     height: 208px;
}


